<title>{{metadata.title}}</title>
<meta name="description" content="{{metadata.description}}">

<meta property="og:site_name" content="stevetan.me">
<meta property="og:type" content="{{metadata.type}}">
<meta property="og:title" content="{{metadata.title}}">
<meta property="og:description" content="{{metadata.description}}">
<meta property="og:url" content="{{metadata.url}}">
<meta property="og:image" content="{{#if metadata.image}}{{metadata.image}}{{else}}{{app.baseUrl}}/img/social-image.png{{/if}}">
<meta property="fb:app_id" content="{{metadata.facebook.appId}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{metadata.title}}">
<meta name="twitter:description" content="{{metadata.description}}">
<meta name="twitter:url" content="{{metadata.url}}">
<meta name="twitter:image:src" content="{{#if metadata.image}}{{metadata.image}}{{else}}{{app.baseUrl}}/img/social-image.png{{/if}}">

<link rel="canonical" href="{{#if metadata.canonical}}{{metadata.canonical.url}}{{else}}{{metadata.url}}{{/if}}">

{{#if metadata.rss}}
    <link rel="alternate" type="application/rss+xml" title="{{metadata.rss.title}}" href="{{metadata.rss.url}}">
{{/if}}
