<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

        {{> metadata }}
        {{> favicons }}

        <link rel="stylesheet" type="text/css" href="/css/style.css">

        {{> modernizr}}

        <script async src="/js/app.js"></script>
        {{#if app.addthis.id}}
            <script async type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{{ app.addthis.id }}}"></script>
        {{/if}}
    </head>
    <body>
        <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid no-js-warning">
            <row>
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Oh no! Your JavaScript is turned off.</h3>
                        </div>
                        <div class="panel-body">
                            This website runs on JavaScript. Please enable JavaScript in order for the website to function properly as intended.
                            <br>
                            For instructions on how to enable JavaScript, please refer to this <a href="https://support.microsoft.com/en-us/gp/howtoscript">website</a>.
                        </div>
                    </div>
                </div>
            </row>
        </div>
        {{{ body }}}
    </body>
</html>
