@font-face {
	font-family: 'qanvast';
	src:url('../fonts/qanvast.eot?-wrvnto');
	src:url('../fonts/qanvast.eot?#iefix-wrvnto') format('embedded-opentype'),
		url('../fonts/qanvast.woff?-wrvnto') format('woff'),
		url('../fonts/qanvast.ttf?-wrvnto') format('truetype'),
		url('../fonts/qanvast.svg?-wrvnto#qanvast') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="qv-"], [class*=" qv-"] {
	font-family: 'qanvast';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.qv-singapore .path1:before {
	content: "\e608";
	color: rgb(237, 41, 57);
}
.qv-singapore .path2:before {
	content: "\e609";
	margin-left: -1.5em;
	color: rgb(255, 255, 255);
}
.qv-singapore .path3:before {
	content: "\e60a";
	margin-left: -1.5em;
	color: rgb(255, 255, 255);
}
.qv-singapore .path4:before {
	content: "\e60b";
	margin-left: -1.5em;
	color: rgb(237, 41, 57);
}
.qv-singapore .path5:before {
	content: "\e60c";
	margin-left: -1.5em;
	color: rgb(255, 255, 255);
}
.qv-singapore .path6:before {
	content: "\e60d";
	margin-left: -1.5em;
	color: rgb(255, 255, 255);
}
.qv-singapore .path7:before {
	content: "\e60e";
	margin-left: -1.5em;
	color: rgb(255, 255, 255);
}
.qv-singapore .path8:before {
	content: "\e60f";
	margin-left: -1.5em;
	color: rgb(255, 255, 255);
}
.qv-singapore .path9:before {
	content: "\e610";
	margin-left: -1.5em;
	color: rgb(255, 255, 255);
}

.qv-logo .path1:before {
	content: "\e600";
	color: rgb(1, 1, 1);
}
.qv-logo .path2:before {
	content: "\e601";
	margin-left: -4em;
	color: rgb(1, 1, 1);
}
.qv-logo .path3:before {
	content: "\e602";
	margin-left: -4em;
	color: rgb(1, 1, 1);
}
.qv-logo .path4:before {
	content: "\e603";
	margin-left: -4em;
	color: rgb(1, 1, 1);
}
.qv-logo .path5:before {
	content: "\e604";
	margin-left: -4em;
	color: rgb(1, 1, 1);
}
.qv-logo .path6:before {
	content: "\e605";
	margin-left: -4em;
	color: rgb(1, 1, 1);
}
.qv-logo .path7:before {
	content: "\e606";
	margin-left: -4em;
	color: rgb(1, 1, 1);
}
.qv-logo .path8:before {
	content: "\e607";
	margin-left: -4em;
	color: rgb(68, 190, 172);
}
